@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: font1;
    src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf") format("opentype");
}
@font-face {
    font-family: font2;
    src: url("../font/Cormorant/Cormorant-VariableFont_wght.ttf") format("opentype");
}
@font-face {
    font-family: font3;
    src: url("../font/Cormorant/Cormorant-Italic-VariableFont_wght.ttf") format("opentype");
}